*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    width: 100vw;
    background-color:bLACK;
}  
.foter{
    background-color: rgba(33, 33, 33);
    width: 100vw;
    height:7vh;
    margin-top: 13vh;
    position: absolute;
}
#img{
    margin-top: 8vh;
    margin-left: 13vw;
}
.co{
   margin-left:8vw;
   text-decoration: none;
   color:rgb(255, 255, 255);

}
.col-3{
    margin-top:10vh;
    display: flex;
    padding-left: 8vw;
}

.navbar{
    width: 100%;
}
.navbar-brand{
    margin: 0px 0 0 0;

}
.cima{
    color: rgba(255, 255, 255, 0.61);
    margin-left:0;
    padding-left:20px;
    font-size:20px;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    margin-bottom: 20px;
    margin-top: -20%;
    
}
.cima:hover{
    color:white;
}



.r{
    margin: -36px 0 0 38vw;
        align-items: center;
     


    }
    .q{
        margin: 6px 0 0 11px;
    }
    .p {
        margin-left: 23px;
        margin-right: -10px;
        margin-top: -6px;
    }

    .qua{
        background-color:rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        width: 20%;
        padding:8px 5px 5px 15px;
        border-radius: 2px;
        margin-left:198%;
        margin-top: -7%;
        font-size:12px;
        font-weight: bold;
    }
    .lado{
        margin: -4px -505px 8px 520px;
    }

    .x{
        position: absolute;
        color: white;
        margin: 12px;
    }
    .y{
        position: absolute;
        color: white;
        margin: 12px 65px;
    }
    .z{
        position: absolute;
        color: white;
        margin: 12px 125px;
    }
    .barrinha{
        margin: 20px 0px -124px 0px;
        width: 100%;
        height: 0.01vw;
        background-color:white;
    }

    footer{
      
    }